@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #b4ffb9;
}

a {
  color: #dce5ff;
  text-decoration: none;
}

*, *:before, *:after { 
  margin:0;
  padding:0;
  font-family: Arial,sans-serif;
}
 
/* esconde as ancoras da tela */
a.links{
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Nunito", sans-serif;
}

#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

.pagetitle .data {
  color: #00420c;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.pagetitle h3 {
  font-size: 23px;
  font-weight: 600;
  color: #0b671c;
  margin-left: 12px;
  text-align: center;
}

.footer h4 {
  font-size: 23px;
  font-weight: 600;
  color: #000000;
  margin-left: 12px;
  text-align: center;
}

.footer li {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin-left: 12px;
}

.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(21, 149, 60, 0.398) 2px 2px 16px;
}

.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}
.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #00420c;
  font-family: "Lucida handwriting";
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  background-color: #fefbfb;
  padding-left: 20px;
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #00420c;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: rgba(21, 149, 60, 0.398) 2px 2px 16px;
  background-color: #fbfefd;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 300px;
  }
}
@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}
@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }
  .toggle-sidebar .sidebar {
    left: -300px;
  }
}
.sidebar {
  display: flex;
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.logo-ifes {
  display: flex;
  align-items: flex-end;
}

.sidebar-card {
  background: #e9eefd;
  border-radius: 10px;
  margin-top: 100%;
  box-shadow: rgba(21, 149, 60, 0.398) 2px 2px 16px;
}
.sidebar-card img {
  width: 250px;
  padding: 0.8rem 1rem;
}

.sidebar-nav {
  text-transform: uppercase;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  color: #00420c;
  transition: 0.3;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #00420c;
}

.sidebar-nav .nav-link:hover {
  color: #e9eefd;
  background: #00420c;
}

.sidebar-nav .nav-link:hover i {
  color: #e9eefd;
}

.dashboard .info-card {
  padding-bottom: 10px;
}

@media (max-width: 500px) {
  .table th {
    padding: 5px;
    font-size: 14px;
  }
  .table td {
    font-size: 13px;
  }
}